.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Permitir que los elementos se envuelvan a la siguiente línea */
}

body {
  user-select: none;
  background-image: url("/assets/img/background.jpg");
  background-size: cover;
  height: 100vh;
}
nav a {
  font-family: Rockwell, serif;
  text-decoration: none !important;
  margin-right: 3%;
  margin-left: 3%;
}

a:link,
a:visited,
a:focus {
  color: #343333;
}

a:hover {
  color: darkgrey;
}

.container table {
  margin: 0 10px;
}

a:active {
  color: white;
}

h1 {
  display: inline-block;
  position: relative;
  color: dimgray;
  font-family: Fantasy, serif;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  width: 500px;
  text-align: center;
  white-space: nowrap;
  border: 2px solid #343333;
  padding: 5px 11px 3px 11px;
  margin: 0 auto;
}

#nbaLogo {
  width: 3%;
  height: 3%;
}

tr {
  color: black;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/loadScreen.jpg");
  background-size: cover; /* Ajusta el tamaño del icono de carga según sea necesario */
  background-position: center; /* Coloca el icono de carga en el centro */
  background-repeat: no-repeat; /* Evita que el icono de carga se repita */
  z-index: 1; /* Asegura que la splash screen esté en frente del contenido */
}

.splash img {
  position: relative;
  width: 3%;
  height: 6%;
  top: 65%;
  left: 50%;
  z-index: 2; /* Asegura que el icono esté por encima del fondo */
}

.container, header {
  display: none; /* Oculta el contenido de la página hasta que la splash screen desaparezca */
}

body {
  overflow: hidden; /* Oculta tanto la barra de desplazamiento horizontal como vertical */
}
